﻿@model IEnumerable<UserGetViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-white-50">Users</h1>


<p>
    @using (Html.BeginForm("Index", "Users", FormMethod.Get))
    {
        <b class="text-black-50">Filter By:</b> <br />
        <b>Visit Service Date:</b> <br />
        <span>Start Date: </span><input type="date" name="start" />
        <span>End Date: </span><input type="date" name="end" /> <br />
        <b>OR</b> <br />
        @Html.RadioButton("searchBy", "Role") <text>Role</text> 
        @Html.RadioButton("searchBy", "LastName") <text>Last Name</text> 
        @*@Html.ActionLink("Name", "Index", new { sortBy = ViewBag.SortNameParameter  })<br />*@
        @Html.RadioButton("searchBy", "Email") <text>Email</text> <br />
        @Html.RadioButton("searchBy", "Phone") <text>Phone</text> 
        @Html.RadioButton("searchBy", "Manufacturer") <text>Manufacturer</text>
        @Html.RadioButton("searchBy", "Model") <text>Model</text> <br />
        @Html.TextBox("filter") <input type="submit" value="Filter" /> <br />

        @*<a class="btn btn-info btn-sm" asp-action="Index" asp-route-sortBy="@ViewData["NameOrder"]"> Sort by Name</a>
            <a class="btn btn-info btn-sm" asp-action="Index" asp-route-sortBy="@ViewData["VisitDate"]"> Sort by VisitDate</a>*@
        <div class="form-check">
            <input class="form-check-input" type="radio" name="sortBy" id="sortBy" value="Name desc" checked>
            <label class="form-check-label" for="exampleRadios1">
                Sort By Name
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="sortBy" id="sortBy" value="VisitDate desc">
            <label class="form-check-label" for="exampleRadios2">
                Sort By Visit Date
            </label>
        </div>
        <a class="btn btn-outline-secondary btn-sm" asp-action="Index"> Back to full list</a>
    }
</p>
<p>
    <a class="text-danger font-weight-bolder" asp-action="Create">Create New</a>
    
</p>
<table class="table">
    <thead class="text-white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="text-white">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
