﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
    <li class="nav-item">
        <a asp-area="Identity" asp-page="/Account/Manage/Index" class="get-started-btn scrollto">@User.Identity.Name</a>

        <form class="form-inline float-right" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
        @*<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Logout</a>*@
    </li>
    }
    else
    {
        <li>
            <a asp-area="Identity" asp-page="/Account/Login" class="get-started-btn scrollto">Log In</a>
 @*           <a asp-area="Identity" asp-page="/Account/Register" class="get-started-btn scrollto">Register</a>*@
        </li>
    }
</ul>
