﻿@model IPagedList<CustomerGetAllServicesViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Services</h1>
@using (Html.BeginForm("Services", "Customers", FormMethod.Get))
{
    <b class=" font-weight-bold">Registr Plate: </b>
    @Html.TextBox("searchString", ViewBag.currentFilter as string)
<br />
<b class=" font-weight-bold">Arrival Date: </b>
    @Html.TextBox("filterDate")
<br />
    <input type="submit" value="Filter" />
    <a class="btn btn-outline-secondary btn-sm" asp-action="Services"> Back to full list</a>
}
<br />
<div class="card-deck">
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-info font-weight-bolder">@Html.DisplayFor(modelItem => item.VehicleModelName)</h4>
                <p class="card-text">Arrivind Date: @Html.DisplayFor(modelItem => item.ArriveDate)</p>
                <p class="card-text font-weight-bolder">Registration Plate: @Html.DisplayFor(modelItem => item.VehicleRegistrationPlate)</p>
                <p class="card-text">Visit Status: @Html.DisplayFor(modelItem => item.VisitStatusName)</p>
                <table class="table border-line">
                    <thead>
                        <tr>
                            <th>
                                ServiceId
                            </th>
                            <th>
                                Service Price
                            </th>
                            <th>
                                Service Name
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>

                            <td>
                                @foreach (var list in item.ServicesId)
                                {
                                    <br>
                                    @Html.DisplayFor(modelItem => list)
                                    <br>
                                }
                            </td>
                            <td>
                                @foreach (var list in item.ServicePrice)
                                {
                                    <br>
                                    @Html.DisplayFor(modelItem => list)
                                    <br>

                                }
                            </td>
                            <td>
                                @foreach (var list in item.ServiceName)
                                {
                                    <br>
                                    @Html.DisplayFor(modelItem => list)
                                    <br>
                                }
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    }
</div>

@Html.PagedListPager(Model,
   page => Url.Action("Services", new { page, currentFilter = ViewBag.CurrentFilter }),
   new X.PagedList.Web.Common.PagedListRenderOptionsBase
   {
       DisplayLinkToIndividualPages = true,
       DisplayPageCountAndCurrentLocation = false,
       MaximumPageNumbersToDisplay = 10,
       LiElementClasses = new string[] { "page-item" },
       PageClasses = new string[] { "page-link" },
   })
