﻿@model IEnumerable<CustomerVehiclesViewModel>

@{
    ViewData["Title"] = "Vehicles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 class="text-white">Vehicles</h1>


<table class="table">
        <thead class="text-white">
            <tr>
                <th>
                 VehicleId
                </th>
                <th>
                 Manufacturer
                </th>
                <th>
                 Model
                </th>
                <th>
                 Registration Plate 
                </th>
                <th>
                 Year 
                </th>
                <th>
                 Vin
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody class="text-white">
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleId)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.ModelManufacturerName)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.ModelName)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.RegistrationPlate)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleYear)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.Vin)
                </th>
            </tr>
            }
        </tbody>
    </table>
