﻿@model CustomerGetAllVisitsViewModel

@{
    ViewData["Title"] = "Visits";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Visits</h2>
@using (Html.BeginForm("Visits", "Customers", FormMethod.Get))
{
    <b class=" font-weight-bold">Change Currency: </b> @Html.TextBox("currency")
    <br />
    <input type="submit" value="Submit" />
    <a class="btn btn-outline-secondary btn-sm" asp-action="Visits"> Back to full list</a>
    <div class="form-check form-check-inline">
        @Html.CheckBox("generatePdf", "True") <text>GeneratePDF</text>
    </div>
}

<div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            @for (int i = 0; i < Model.CustomerGetVisitDTOs.Count; i++)
            {
                <li data-target="#carouselExampleCaptions" data-slide-to="@i"></li>
                @*<li data-target="#carouselExampleCaptions" data-slide-to="@i"></li>*@
            }
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img src="~/Images/green_gray_color_153734_1366x768.jpg" alt="Alternate Text" /> @*First Image*@
            <div class="carousel-caption d-none d-md-block">
                <h4 class="text-info font-weight-bold">Summary:</h4>
                <h4 class="text-warning font-weight-bold ">The cost of all visits: @Html.DisplayFor(modelItem => Model.Currency): @Html.DisplayFor(modelItem => Model.FullPrice)</h4>
                <h3 class="text-danger font-weight-bold">Click the arrow and search all your visits!</h3>
                <h3><br /></h3>
                <h3><br /></h3>
                <h3><br /></h3>
                <h3><br /></h3>
                <h3><br /></h3>
                <h3><br /></h3>
                <h3><br /></h3>
            </div>
            </div>
            @foreach (var item in Model.CustomerGetVisitDTOs)
            {
                <div class="carousel-item ">
                    <img src="~/Images/green_gray_color_153734_1366x768.jpg" alt="Alternate Text" />
                    <div class="carousel-caption d-none d-md-block">

                        <p class="text-warning font-weight-bold ">Vehicle: @Html.DisplayFor(modelItem => item.VehicleModelName) /Vin: @Html.DisplayFor(modelItem => item.VehicleVin)</p>
                        <p class="font-weight-bold ">Arrive date: @Html.DisplayFor(modelItem => item.ArriveDate) / Status: @Html.DisplayFor(modelItem => item.VisitStatusName)</p>
                        <p class="text-danger font-weight-bold ">Visit cost: @Html.DisplayFor(modelItem => item.VisitCost)  @Html.DisplayFor(modelItem => item.VisitCurrencyPrice)</p>
                        <a class="font-weight-bolder text-info" asp-action="VisitDetails" asp-route-id="@item.VisitId">Click For Details</a>
                        <table class="table">
                            <thead>
                                <tr class="text-warning font-weight-bolder">
                                    <th>
                                        Service Name
                                    </th>
                                    <th>
                                        Currency
                                    </th>
                                    <th>
                                        Price
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var list in item.ServiceDTOs)
                                {
                                    <tr class="text-warning">
                                        <td>
                                            @Html.DisplayFor(modelItem => list.Name)
                                        </td>
                                        <th>
                                            @Html.DisplayFor(modelItem => list.Currency)
                                        </th>
                                        <th>
                                            @Html.DisplayFor(modelItem => list.Price)
                                        </th>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>

            }

        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>







