﻿@model CustomerGetVisitViewModel
@{
    ViewData["Title"] = "VisitDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <h3 class="card-header">Visit</h3>
    <a class="btn btn-info" asp-area="" asp-controller="Customers" asp-action="Visits">Back To My Visits</a>
    <div class="card-body">
        @using (Html.BeginForm("VisitDetails", "Customers", FormMethod.Get))
        {
            <b class=" font-weight-bold">Change Currency: </b> @Html.TextBox("currency")
            <input type="submit" value="Submit" />

            <div class="form-check form-check-inline">
                @Html.CheckBox("generatePdf", "True") <text>GeneratePDF</text>
            </div>
        }


        <h4 class="card-title">@Html.DisplayFor(modelItem => Model.FirstName) @Html.DisplayFor(modelItem => Model.LastName)</h4>
        <p class="card-text font-weight-bold">@Html.DisplayFor(modelItem => Model.Email).</p>
        <p class="text-info font-weight-bold"> Model: @Html.DisplayFor(modelItem => Model.VehicleModelName).</p>
        <p class="card-text font-weight-bolder">Arrive Date: @Html.DisplayFor(modelItem => Model.ArriveDate).</p>
        <p class="card-text">Vin: @Html.DisplayFor(modelItem => Model.VehicleVin).</p>
        <p class="text-info font-weight-bold"> Status: @Html.DisplayFor(modelItem => Model.VisitStatusName).</p>
        <p class="text-danger font-weight-bold"> Status:Price: @Html.DisplayFor(modelItem => Model.VisitCost) @Html.DisplayFor(modelItem => Model.VisitCurrencyPrice)</p>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Service
                    </th>
                    <th>
                        Currency
                    </th>
                    <th>
                        Price
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ServiceDTOs)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <th>
                            @Html.DisplayFor(modelItem => item.Currency)
                        </th>
                        <th>
                            @Html.DisplayFor(modelItem => item.Price)
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

