﻿

body {
    background: url("../Images/circles_dots_metal_background_light_55234_1920x1080.jpg");
    background-color: #a7998b;
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
