﻿body {
    /* background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    background: url("../Images/43FEHQ.gif");*/
    background: rgb(214,161,94);
    background: radial-gradient(circle, rgba(214,161,94,1) 0%, rgba(162,112,25,1) 100%);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
