﻿html {
    background: #000; /*#6c583f;*/
}

body {
    background: rgb(180,122,50);
    background: linear-gradient(162deg, rgba(180,122,50,1) 0%, rgba(229,136,21,1) 100%);
    height: 100%;
    background-repeat: no-repeat;
    background-size: auto;
    margin-bottom: 0;
}

.get-started-btn {
    margin-left: 10px;
}

#header {
    padding: 30px 0 15px 0;
}

/*
    "Hello, User" Nav-bar
*/
    #header .navbar-nav .nav-item{
    font-size: 0.8rem;
}

#topbar .contact-info i.icofont-phone {
    margin-left: 15px;
}

main {
    position: relative;
    top: 120px;
}

.isDisabled {
    cursor: not-allowed;
    opacity: 0.5;
}

a[aria-disabled="true"] {
    color: currentColor;
    display: inline-block; /* For IE11/ MS Edge bug */
    pointer-events: none;
    text-decoration: none;
}

#topbar .contact-info {
    color: #f6dcbc;
    font-family: 'Baloo Tammudu 2', cursive;
}

#topbar .social-links a {
    padding-left: 5px;
}

.nav-menu .drop-down ul {
    background: #000;
    opacity: 0.2;
    border-radius: 0 0 5px 5px;
}

    .nav-menu .drop-down ul a {
        color: #fff;
    }

        .nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
            color: #151515;
            background: #ffc451;
        }

    .nav-menu .drop-down ul li:last-child:hover > a {
        border-radius: 0 0 5px 5px;
    }

.get-started-btn {
    margin-left: 10px;
    color: #f6dcbc;
}

header {
    color: #f6dcbc;
}

#header {
    background: rgba(0, 0, 0, 0.8);
    padding: 30px 0 15px 0;
}

    #header .logo img {
        max-height: 70px;
    }

.nav-menu a {
    color: #f6dcbc;
}

.nav-menu .drop-down ul a {
    color: #f6dcbc;
}
/*
    "Hello, User" Nav-bar
*/
#header .navbar-nav .nav-item {
    font-size: 0.9rem;
}

#topbar .contact-info {
    font-size: 0.9rem;
}

    #topbar .contact-info i.icofont-phone {
        margin-left: 15px;
    }

.navbar-nav .form-inline {
    margin-left: 10px;
}

.mobile-nav {
    background: #111;
}

    .mobile-nav a {
        color: #f6dcbc;
    }

/* Hero Section */
#hero {
    background: url("../../wwwroot/Images/2920118.jpg") top center;
}

    #hero .container {
        padding-top: 50px;
    }

    #hero .icon-box a {
        background: rgba(0,0,0,0.2);
        border: 1px solid rgba(255, 255, 255, 0.3);
        color: #fff;
    }

main {
    position: relative;
    top: 200px;
    margin-bottom: 0;
    padding-bottom: 100px;
}

.isDisabled {
    cursor: not-allowed;
    opacity: 0.5;
}

a[aria-disabled="true"] {
    color: currentColor;
    display: inline-block; /* For IE11/ MS Edge bug */
    pointer-events: none;
    text-decoration: none;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

main .form input {
    float: right !important;
}
/* Bootstrap DropDown Menu */
/*body {
    text-align: center;
    background-color: #222;
    color: #fff;
    margin-top: 50px;
}

body .dropdown-menu {
    border-radius: 0;
} */

body .multiselect-native-select {
    position: relative;
}

    body .multiselect-native-select select {
        border: 0 !important;
        clip: rect(0 0 0 0) !important;
        height: 1px !important;
        margin: -1px -1px -1px -3px !important;
        overflow: hidden !important;
        padding: 0 !important;
        position: absolute !important;
        width: 1px !important;
        left: 50%;
        top: 30px;
    }

body .multiselect-container {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    body .multiselect-container .input-group {
        margin: 5px;
    }

    body .multiselect-container li {
        padding: 0;
    }

        body .multiselect-container li .multiselect-all label {
            font-weight: 700;
        }

        body .multiselect-container li a {
            padding: 0;
        }

            body .multiselect-container li a label {
                margin: 0;
                height: 100%;
                cursor: pointer;
                font-weight: 400;
                padding: 3px 20px 3px 40px;
            }

                body .multiselect-container li a label input[type=checkbox] {
                    margin-bottom: 5px;
                }

                body .multiselect-container li a label.radio {
                    margin: 0;
                }

                body .multiselect-container li a label.checkbox {
                    margin: 0;
                }

        body .multiselect-container li.multiselect-group label {
            margin: 0;
            padding: 3px 20px 3px 20px;
            height: 100%;
            font-weight: 700;
        }

        body .multiselect-container li.multiselect-group-clickable label {
            cursor: pointer;
        }

    body .btn-group .btn-group .multiselect.btn {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

body .form-inline .multiselect-container label.checkbox {
    padding: 3px 20px 3px 40px;
}

body .form-inline .multiselect-container label.radio {
    padding: 3px 20px 3px 40px;
}

body .form-inline .multiselect-container li a label.checkbox input[type=checkbox] {
    margin-left: -20px;
    margin-right: 0;
}

body .form-inline .multiselect-container li a label.radio input[type=radio] {
    margin-left: -20px;
    margin-right: 0;
}

.pagination-container {
    margin-bottom: 200px;
}
/*
    body .btn {
        border-radius: 0;
        padding: 10px 0;
    }

    body .btn-primary {
        background-color: #ff0000;
        border: none;
        border-radius: 0;
        padding: 11px 15px;
        text-transform: uppercase;
    }*/
/* End */


/*
    Pagination
*/
.page-link {
    color: #111;
    background-color: #b57e22;
    border: 1px solid #583805;
}

    .page-link:hover {
        color: #f6dcbc;
        background-color: #583805;
        border-color: #332206;
    }

.page-item.active .page-link {
    color: #f6dcbc;
    background-color: #583805;
    border-color: #332206;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background: black;
    padding: 0 0 20px 0;
    color: #fff;
    font-size: 12px;
}

    #footer .contact-info i {
        padding-right: 4px;
    }

    #footer .social-links a {
        padding-left: 15px;
        display: inline-block;
        line-height: 1px;
        transition: 0.3s;
    }

    #footer .copyright {
        padding-top: 20px;
        color: #ffd584;
    }






/*.counter-section i {
    display: block;
    margin: 0 0 10px
}

.counter-section span.counter {
    font-size: 40px;
    color: #000;
    line-height: 60px;
    display: block;
    font-family: "Oswald", sans-serif;
    letter-spacing: 2px
}

.counter-title {
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase
}

.counter-icon {
    top: 25px;
    position: relative
}

.counter-style2 .counter-title {
    letter-spacing: 0.55px;
    float: left
}

.counter-style2 span.counter {
    letter-spacing: 0.55px;
    float: left;
    margin-right: 10px
}

.counter-style2 i {
    float: right;
    line-height: 26px;
    margin: 0 10px 0 0
}

.counter-subheadline span {
    float: right
}

.medium-icon {
    font-size: 40px !important;
    margin-bottom: 15px !important
}

.container {
    margin-top: 200px
}
*/
