﻿@model IPagedList<ServiceVehicleTypeViewModel>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 

<h1>Details</h1>

<div>
    <h4>Service</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().VehicleType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Currency)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Currency)
                </td>
            </tr>
            }
        </tbody>
    </table>
    @Html.PagedListPager(Model,
   page => Url.Action("Index", new { page }),
   new X.PagedList.Web.Common.PagedListRenderOptionsBase
   {
   DisplayLinkToIndividualPages = true,
   DisplayPageCountAndCurrentLocation = false,
   MaximumPageNumbersToDisplay = 10,
   LiElementClasses = new string[] { "page-item" },
   PageClasses = new string[] { "page-link" },
   })

</div>
<div>
    @if (User.IsInRole("employee"))
    {
        <a asp-action="Edit" asp-route-id="@Model.First().ServiceId">Edit</a> Write("| ");
        Write("| "); <a asp-action="Delete" asp-route-id="@Model.First().ServiceId">Delete</a> Write("| ");
    }
    <a asp-action="Index">Back to List</a>
</div>
