﻿@model IPagedList<ServiceViewModel>
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Index", "Services", FormMethod.Get, new { @class = "col" }))
{
    <div class="row">
        <div class="col-2">
            <b class=" font-weight-bold">Service: </b>
        </div>
        <div class="col-2">
            @Html.TextBox("name")
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <b class=" font-weight-bold">Price: </b>
        </div>
        <div class="col-2">
            @Html.TextBox("price")
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <a class="btn btn-dark" asp-action="Index"> Back to full list</a>
        </div>
        <div class="col-2">
            <input type="submit" value="Filter" />
        </div>
    </div>
}

@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Currency)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        from @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Currency)
                    </td>
                    <td>
                        @if (item.VehicleTypes.Count == 0)
                        {
                            <a asp-action="" asp-route-id="" class="isDisabled" aria-disabled="true">Details</a>
                        }
                        else
                        {
                            <a asp-action="Details" asp-route-id="@item.ServiceId">Details</a>
                        }

                        @*@Html.ActionLink("Details", "Services", "Details", new { id = @item.ServiceId, VehicleType = item.VehicleType }, null)*@

                        @if (User.IsInRole("employee"))
                        {
                            Write("| ");<a asp-action="Edit" asp-route-id="@item.ServiceId">Edit</a>
                            Write("| "); <a asp-action="Delete" asp-route-id="@item.ServiceId">Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @Html.PagedListPager(Model,
       page => Url.Action("Index", new { page }),
       new X.PagedList.Web.Common.PagedListRenderOptionsBase
       {
       DisplayLinkToIndividualPages = true,
       DisplayPageCountAndCurrentLocation = false,
       MaximumPageNumbersToDisplay = 10,
       LiElementClasses = new string[] { "page-item" },
       PageClasses = new string[] { "page-link" },
       })