﻿@model IPagedList<VisitStatusViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().VisitStatusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VisitStatusId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.VisitStatusId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.VisitStatusId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.VisitStatusId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(Model,
   page => Url.Action("Index", new { page }),
   new X.PagedList.Web.Common.PagedListRenderOptionsBase
   {
   DisplayLinkToIndividualPages = true,
   DisplayPageCountAndCurrentLocation = false,
   MaximumPageNumbersToDisplay = 10,
   LiElementClasses = new string[] { "page-item" },
   PageClasses = new string[] { "page-link" },
   })