﻿@model VisitFullReportViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Visit</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VisitId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VisitId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VisitStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VisitStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArriveDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArriveDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartureDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OwnerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerUsername)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OwnerUsername)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationPlate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistrationPlate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VisitServices)
        </dt>
        <dd class="col-sm-10">
            <div class="row">
                <div class="col-sm-9">
                    @foreach (var service in Model.VisitServices)
                    {
                    <div class="row">
                        <div class="col-10 col-sm-8">
                            @service.Name
                        </div>
                        <div class="col-1 col-sm-2">
                            @service.Price.ToString("0.00")
                        </div>
                        <div class="col-1 col-sm-2">
                            @Html.DisplayFor(model => model.Currency)
                        </div>
                    </div>
                    }
                </div>
            </div>
        </dd>
        <dt class="col-sm-2">
                
            </dt>
        <dd class="col-sm-10">
            <div class="row">
                <div class="col-sm-9">
                        <div class="row">
                            <div class="col-10 col-sm-8">
                                @Html.DisplayNameFor(model => model.TotalPrice)
                            </div>
                            <div class="col-1 col-sm-2">
                                @Html.DisplayFor(model => model.TotalPrice)
                            </div>
                            <div class="col-1 col-sm-2">
                                @Html.DisplayFor(model => model.Currency)
                            </div>
                        </div>
                </div>
            </div>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VisitId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
