﻿@model IPagedList<VisitViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
@if (TempData["error"] != null)
{
<div class="alert alert-danger alert-dismissible fade show justify-content-center text-center" role="alert">
    @TempData["error"].ToString()
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().VisitId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().VehicleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().VisitStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ArriveDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().DepartureDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VisitId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VisitStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArriveDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartureDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.VisitId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.VisitId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.VisitId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(Model,
   page => Url.Action("Index", new { page }),
   new X.PagedList.Web.Common.PagedListRenderOptionsBase
   {
   DisplayLinkToIndividualPages = true,
   DisplayPageCountAndCurrentLocation = false,
   MaximumPageNumbersToDisplay = 10,
   LiElementClasses = new string[] { "page-item" },
   PageClasses = new string[] { "page-link" },
   })