﻿@model IPagedList<VehicleViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@using (Html.BeginForm("Index", "Vehicles", FormMethod.Get))
{
    <b class=" font-weight-bold">Filter By Customer: </b>
    @Html.TextBox("name")
    <br />
    <input type="submit" value="Filter" />
    <a class="btn btn-outline-secondary btn-sm" asp-action="Index"> Back to full list</a>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().VehicleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Vin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().RegistrationPlate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().OwnerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ModelId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().VehicleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Visits)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationPlate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleType)
                </td>
                <td>
                    @foreach (var visit in item.Visits)
                    {
                        <a asp-controller="Visits" asp-action="Details" asp-route-id="@visit">@visit </a>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.VehicleId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.VehicleId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.VehicleId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(Model,
   page => Url.Action("Index", new { page }),
   new X.PagedList.Web.Common.PagedListRenderOptionsBase
   {
   DisplayLinkToIndividualPages = true,
   DisplayPageCountAndCurrentLocation = false,
   MaximumPageNumbersToDisplay = 10,
   LiElementClasses = new string[] { "page-item" },
   PageClasses = new string[] { "page-link" },
   })